<%= render layout: 'shared/page_container' do %>
  <img alt="Teahour 2.0" class="w-full mb-3" height="400" src="<%= asset_path("omshow.png")%>" width="1200"/>
  
  <%= render 'shared/person_header', person: @host %>
  
  <!-- Episodes Section -->
  <div class="max-w-4xl mx-auto px-4">
    <div class="text-center mb-8">
      <h3 class="text-gray-800">
        <%= @host.name %> 参加 <%= @host.episodes.count %> 期节目
      </h3>
    </div>
    
    <!-- Episode List -->
    <div class="space-y-4">
      <% @host.episodes.each do |episode| %>
        <%= render 'episodes/episode_list_item', episode: episode %>
      <% end %>
    </div>
    <!-- Episode List END -->
  </div>
  <!-- Episodes Section END -->
<% end %>