<div class="max-w-5xl mx-auto mb-16">
  <h1 class="text-4xl font-mono font-bold text-center mb-2">
    Teahour 2.0 Staging
  </h1>
  <div class="bg-[#282c34] rounded-lg p-4 bg-gradient-to-br from-[#00FF00]/5 to-transparent">
    <pre class="font-mono text-sm mb-3 whitespace-pre overflow-x-auto mx-auto max-w-fit"><span class="text-[#f8f8f8]">hacker@teahour.dev % podcastfetch</span>

<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span>          <span class="text-[#f8f8f8]">hacker@teahour.dev</span>
<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span>          <span class="text-[#f8f8f8]">-----------------------</span>
<span class="text-[#23a053]">ccccccccccc</span><span class="text-[#f8f8f8]">oxxkl</span><span class="text-[#23a053]">cccccccccccccccccccccccc</span>          <span class="text-[#23a053]">OS:</span><span class="text-[#f8f8f8]"> casmitter</span>
<span class="text-[#23a053]">cccccccl</span><span class="text-[#f8f8f8]">OXX0kxxl</span><span class="text-[#23a053]">cccccccccccccccccccccccc</span>          <span class="text-[#23a053]">Kernel:</span><span class="text-[#f8f8f8]"> Ruby on Rails </span>
<span class="text-[#23a053]">cccccc</span><span class="text-[#f8f8f8]">l0Nklok0KXx</span><span class="text-[#23a053]">ccccccccccccccccccccccc</span>          <span class="text-[#23a053]">Frontend:</span><span class="text-[#f8f8f8]"> undefined </span>
<span class="text-[#23a053]">ccccc</span><span class="text-[#f8f8f8]">lNKloKW0xoo</span><span class="text-[#23a053]">cccccccccccccccccccccccc</span>          <span class="text-[#23a053]">Uptime:</span><span class="text-[#f8f8f8]"> 16 hours, 52 mins</span>
<span class="text-[#23a053]">ccccc</span><span class="text-[#f8f8f8]">XXcdWXll0K0xxxxddxxxxxxkx</span><span class="text-[#23a053]">cccccccccc</span>          <span class="text-[#23a053]">Assets Storage:</span><span class="text-[#f8f8f8]"> Cloudflare R2</span>
<span class="text-[#23a053]">cccc</span><span class="text-[#f8f8f8]">lWkcKMocXKcdxdolccclllcccKd</span><span class="text-[#23a053]">ccccccccc</span>          <span class="text-[#23a053]">Record:</span><span class="text-[#f8f8f8]"> Riverside </span>
<span class="text-[#23a053]">cccc</span><span class="text-[#f8f8f8]">clccclccoWWX00000OOOOO0XWMxo</span><span class="text-[#23a053]">cccccccc</span>          <span class="text-[#23a053]">Edit:</span><span class="text-[#f8f8f8]"> Logic Pro X</span>
<span class="text-[#23a053]">ccccccccccccc</span><span class="text-[#f8f8f8]">XMWMMMMMMMMMMMMMN0XNKx</span><span class="text-[#23a053]">ccccc</span>          <span class="text-[#23a053]">Mic:</span><span class="text-[#f8f8f8]"> Shure SM7B</span>
<span class="text-[#23a053]">ccccccccccccck</span><span class="text-[#f8f8f8]">MWWWWMMMMMMMMMMOccdMM</span><span class="text-[#23a053]">ccccc</span>          <span class="text-[#23a053]">Preamp:</span><span class="text-[#f8f8f8]"> Cloudlifter </span>
<span class="text-[#23a053]">cccccccccccccd</span><span class="text-[#f8f8f8]">MWWWNMMMMMMMMMMxccXMO</span><span class="text-[#23a053]">ccccc</span>          <span class="text-[#23a053]">Audio Interface:</span><span class="text-[#f8f8f8]"> Focusrite 2i2 </span>
<span class="text-[#23a053]">cccccccccccccc</span><span class="text-[#f8f8f8]">MWWWXWNNNNNWMMMllKM0</span><span class="text-[#23a053]">cccccc</span>          
<span class="text-[#23a053]">cccccccccccccc</span><span class="text-[#f8f8f8]">XMNWNWWWWWWWWMWxXWk</span><span class="text-[#23a053]">ccccccc</span>          
<span class="text-[#23a053]">cccccccccccccck</span><span class="text-[#f8f8f8]">MXWXXNNWNNWWMXOkl</span><span class="text-[#23a053]">cccccccc</span>          
<span class="text-[#23a053]">ccccccccccc:::</span><span class="text-[#f8f8f8]">lNMWWWWMMMMMMWo</span><span class="text-[#23a053]">:::cccccccc</span>          
<span class="text-[#23a053]">ccccccccccc::::</span><span class="text-[#f8f8f8]">cxOKXNNNXK0kl</span><span class="text-[#23a053]">::::cccccccc</span>
<span class="text-[#23a053]">cccccccccccccc:::::::::::::::ccccccccccc</span>
<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span>
<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span>
<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span></pre>
  </div>
  
  <p class="text-center text-gray-600 mb-4">
    <b>For Full Spectrum Developers</b>
  </p>
  <%= render 'shared/subscription_buttons' %>
</div>
<!-- About Section -->
<div class="max-w-5xl mx-auto mb-16 flex flex-col md:flex-row gap-16 px-4">
  <div class="flex-1">
    <h2 class="font-bold mb-4">
      关于本节目
    </h2>
    <p class="text-gray-600 mb-8">
      Teahour: 做程序员喜欢的大型技术类八卦节目。
    </p>
    <h2 class="font-bold mb-4">
      Teahour 社交账号
    </h2>
    <div class="flex space-x-2">
      <a class="bg-black text-white p-2 rounded" href="#">
        𝕏
      </a>
    </div>
  </div>
  <div class="w-full md:w-64">
    <h2 class="font-bold mb-4">
      Your Hosts
    </h2>
    <div class="flex space-x-4">
      <% @hosts.each do |host| %>
        <div class="text-center">
          <%= link_to host_path(host) do %>
            <img alt="<%= host.name %>" class="rounded-full mb-2" height="60" src="<%= host.avatar_url %>" width="60"/>
            <p class="text-sm text-black">
              <%= host.name %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Episodes Section -->
<div class="max-w-5xl mx-auto mb-16 px-4">
  <h2 class="font-bold mb-8">
    Episodes
  </h2>
  <div class="grid grid-cols-3 gap-8">
    <!-- Episode cards -->
    <% @episodes.each do |episode| %>
    <%= link_to episode_path(episode.slug), class: "episode-card block" do %>
      <div>
        <img alt="<%= episode.name %>" class="w-full mb-4" height="400" 
             src="<%= episode.cover_image_url.start_with?('http') ? episode.cover_image_url : asset_path(episode.cover_image_url) %>"
             width="400"/>
        <h3 class="text-black-500 hover:underline mb-2">
          #<%= episode.number %> - <%= episode.name %>
        </h3>
        <p class="text-sm text-gray-500">
          <%= format_episode_duration_and_date(episode) %>
        </p>
      </div>
    <% end %>
    <% end %>
  </div>
</div>