<div class="max-w-5xl mx-auto mb-16">
  <%= render 'shared/page_header' %>

  <img alt="Teahour 2.0" class="w-full mb-3" height="400" src="<%= asset_path("omindex.png")%>" width="1200"/>
  
  <p class="text-center text-gray-600 mb-4 text-xl">
    <b>程序是一种媒介，是开发者思想、创造力的延伸</b>
  </p>
  <%= render 'shared/subscription_buttons' %>
</div>

<!-- About Section -->
<div class="max-w-5xl mx-auto mb-16 flex flex-col md:flex-row gap-16 px-4">
  <div class="flex-1">
    <h2 class="font-bold mb-4">
      About Teahour
    </h2>
    <p class="text-gray-600 mb-8">
    Teahour 2.0 是一档针对程序员播客节目，更是一场思维的探索。
    程序不仅仅是工具，它是开发者表达思想、塑造未来的媒介。
    我们相信，黑客精神不仅关乎技术，还关乎突破边界、打破规则、重新定义世界。
    </p>
  </div>
  <div class="w-full md:w-64">
    <h2 class="font-bold mb-4">
      Your Hosts
    </h2>
    <div class="flex space-x-4">
      <% @hosts.each do |host| %>
        <%= render 'shared/person_card', person: host, path: host_path(host), size: 60 %>
      <% end %>
    </div>
  </div>
</div>

<!-- Episodes Section -->
<div class="max-w-5xl mx-auto mb-16 px-4">
  <h2 class="font-bold mb-8">
    Episodes
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <% @episodes.each do |episode| %>
      <%= render 'episodes/episode_card', episode: episode %>
    <% end %>
  </div>
</div>