<div class="max-w-5xl mx-auto mb-16">
  <h1 class="text-4xl font-bold font-mono text-center mb-2">
    Teahour 2.0 Staging
  </h1>
  <div class="bg-[#282c34] rounded-lg p-4 bg-gradient-to-br from-[#00FF00]/5 to-transparent">
    <pre class="font-mono text-sm mb-3 whitespace-pre overflow-x-auto mx-auto max-w-fit"><span class="text-[#f8f8f8]"><%= random_hacker_name %>@teahour.dev % neofetch --best --podcast</span>

<span class="text-[#23a053]">cccccccccccccccccccccccccccccccccccccccc</span>          <span class="text-[#f8f8f8]"><%= random_hacker_name %>@teahour.dev</span>
<span class="text-[#23a053]">cccccccccl</span><span class="text-[#7bc89a]">k</span><span class="text-[#d3edde]">XX</span><span class="text-[#b2e4c6]">K00</span><span class="text-[#23a053]">occccccccccccccccccccccc</span>          <span class="text-[#f8f8f8]">-----------------------</span>
<span class="text-[#23a053]">cccccccd</span><span class="text-[#b8dec8]">K</span><span class="text-[#e7faef]">N</span><span class="text-[#9dd9b6]">O</span><span class="text-[#23a053]">dll</span><span class="text-[#70c392]">dxk</span><span class="text-[#23a053]">ccccccccccccccccccccccc</span>          <span class="text-[#23a053]">OS:</span><span class="text-[#f8f8f8]"> casmitter</span>
<span class="text-[#23a053]">cccccc</span><span class="text-[#a9debf]">0</span><span class="text-[#edf5ef]">W</span><span class="text-[#88cea3]">k</span><span class="text-[#23a053]">cl</span><span class="text-[#8bc7a4]">0</span><span class="text-[#f8fef3]">WN</span><span class="text-[#b4e5c7]">X00</span><span class="text-[#23a053]">ccccccccccccccccccccccc</span>          <span class="text-[#23a053]">Kernel:</span><span class="text-[#f8f8f8]"> Ruby on Rails </span>
<span class="text-[#23a053]">ccccc</span><span class="text-[#b6ddc4]">K</span><span class="text-[#edf9f3]">W</span><span class="text-[#53b379]">d</span><span class="text-[#23a053]">c</span><span class="text-[#23a053]">k</span><span class="text-[#f8fefc]">WN</span><span class="text-[#72c490]">x</span><span class="text-[#23a053]">ll</span><span class="text-[#68bf8a]">xxdxxxxxxxx</span><span class="text-[#23a053]">cccccccccccccc</span>          <span class="text-[#23a053]">Frontend:</span><span class="text-[#f8f8f8]"> undefined </span>
<span class="text-[#23a053]">cccc</span><span class="text-[#7dc89b]">x</span><span class="text-[#e2f8eb]">M</span><span class="text-[#87cba3]">k</span><span class="text-[#239e51]">c</span><span class="text-[#87cba3]">x</span><span class="text-[#f2f5f3]">M</span><span class="text-[#d2eadd]">X</span><span class="text-[#87cba3]">ll</span><span class="text-[#b8e5cb]">KX</span><span class="text-[#7ac699]">KK</span><span class="text-[#4fb778]">ol</span><span class="text-[#23a053]">ccccccccc</span><span class="text-[#79cc99]">xd</span><span class="text-[#9ddab6]">O</span><span class="text-[#a5dcbb]">0</span><span class="text-[#23a053]">cccccccc</span>          <span class="text-[#23a053]">Branch:</span><span class="text-[#f8f8f8]"> master </span>
<span class="text-[#23a053]">cccc</span><span class="text-[#7dc89b]">k</span><span class="text-[#e2f8eb]">N</span><span class="text-[#4ab574]">o</span><span class="text-[#229f52]">c</span><span class="text-[#90d6ac]">O</span><span class="text-[#e8f9f0]">N</span><span class="text-[#68c089]">x</span><span class="text-[#219e51]">c</span><span class="text-[#68c089]">x</span><span class="text-[#ebf2ee]">W</span><span class="text-[#9ad6b3]">O</span><span class="text-[#5eb782]">od</span><span class="text-[#4bb674]">dddooooo</span><span class="text-[#269e54]">llcclx</span><span class="text-[#d5eddf]">N</span><span class="text-[#23a053]">lccccccc</span>          <span class="text-[#23a053]">Assets Storage:</span><span class="text-[#f8f8f8]"> Cloudflare R2</span>
<span class="text-[#23a053]">ccccccccccccc</span><span class="text-[#ffffff]">MM</span><span class="text-[#f9fffb]">W</span><span class="text-[#b2ddc2]">NX</span><span class="text-[#a9dfbc]">K000000K</span><span class="text-[#cce6d6]">KX</span><span class="text-[#f8fcfa]">WM</span><span class="text-[#e6f9f2]">MN</span><span class="text-[#82cb9e]">Kd</span><span class="text-[#23a053]">lccccc</span>          <span class="text-[#23a053]">Record Software:</span><span class="text-[#f8f8f8]"> Audio Hijack </span>
<span class="text-[#23a053]">ccccccccccccc</span><span class="text-[#f8f8f8]">WX000000MMMMMMMM00</span><span class="text-[#afdfc3]">KO</span><span class="text-[#c5e6d3]">X</span><span class="text-[#ecf7f3]">WN</span><span class="text-[#97d2af]">O</span><span class="text-[#35a863]">l</span><span class="text-[#23a053]">cc</span>          <span class="text-[#23a053]">Edit:</span><span class="text-[#f8f8f8]"> Logic Pro X</span>
<span class="text-[#23a053]">ccccccccccccc</span><span class="text-[#cbecd9]">X</span><span class="text-[#f8f8f8]">MWMMMMMMMMMMMNNNN</span><span class="text-[#4bb172]">o</span><span class="text-[#20a053]">cc</span><span class="text-[#50b778]">o</span><span class="text-[#ffffff]">MM</span><span class="text-[#84cba2]">k</span><span class="text-[#23a053]">cc</span>          <span class="text-[#23a053]">Mic:</span><span class="text-[#f8f8f8]"> Shure SM7B</span>
<span class="text-[#23a053]">ccccccccccccc<span class="text-[#98d7b0]">O</span></span><span class="text-[#f8f8f8]">MWWWWWMMMMMMMMMMW</span><span class="text-[#269d56]">ccc</span><span class="text-[#b1ddc4]">K</span><span class="text-[#ffffff]">M</span><span class="text-[#e1f7eb]">M</span><span class="text-[#38aa64]">l</span><span class="text-[#23a053]">cc</span>          <span class="text-[#23a053]">Preamp:</span><span class="text-[#f8f8f8]"> Cloudlifter </span>
<span class="text-[#23a053]">ccccccccccccd</span><span class="text-[#65b583]">d</span><span class="text-[#f8f8f8]">WWWMMMMMMMMMMMMM</span><span class="text-[#bfe2cd]">X</span><span class="text-[#edfbf2]"></span><span class="text-[#219e50]">cc</span><span class="text-[#b6e0c9]">K</span><span class="text-[#fbfdfc]">M</span><span class="text-[#d6f1e3]">N</span><span class="text-[#3aaa65]">l</span><span class="text-[#23a053]">ccc</span>          <span class="text-[#23a053]">Audio Interface:</span><span class="text-[#f8f8f8]"> Focusrite 2i2 </span>
<span class="text-[#23a053]">ccccccccccccc</span><span class="text-[#40ac68]">l</span><span class="text-[#f8f8f8]">WWWWXWNNNNNNWMMM</span><span class="text-[#90cfaa]">O</span><span class="text-[#4eb877]">o</span><span class="text-[#c2e7d1]">X</span><span class="text-[#f0f2f2]">M</span><span class="text-[#c6e6d3]">X</span><span class="text-[#23a053]">lcccc</span>          
<span class="text-[#23a053]">cccccccccccccc<span class="text-[#ceeeda]">X</span></span><span class="text-[#f8f8f8]">MNWNWWWWWWWWWWx</span><span class="text-[#e9f7ee]">WW</span><span class="text-[#c5e5d3]">X</span><span class="text-[#74c393]">x</span><span class="text-[#23a053]">cccccc</span>          
<span class="text-[#23a053]">cccccccccccc::</span><span class="text-[#98d4b0]">O</span><span class="text-[#f8f8f8]">MWWNNMNNWNNMMMN</span><span class="text-[#41a769]">l</span><span class="text-[#23a053]">ccccccccc</span>          
<span class="text-[#23a053]">ccccccccccc:::c<span class="text-[#9ed5b3]">O</span></span><span class="text-[#f8f8f8]">OMWWWWMMMMMM</span><span class="text-[#d0e6d8]">X</span><span class="text-[#9ed5b3]">d</span><span class="text-[#23a053]"> ::: :cccc</span>          
<span class="text-[#23a053]">ccccccccccc:: : :</span><span class="text-[#64b783]">c</span><span class="text-[#63b683]">KX</span><span class="text-[#91cca9]">NNNX</span><span class="text-[#5bb27c]">K0k</span><span class="text-[#23a053]"><span class="text-[#61b982]">l</span>: ::: :ccccc</span>
<span class="text-[#23a053]">cccccccccccccc:::::: ::: ::: :cccccccccc</span>
</pre>
  </div>
  
  <p class="text-center text-gray-600 mb-4">
    <b>For Full Spectrum Developers</b>
  </p>
  <%= render 'shared/subscription_buttons' %>
</div>
<!-- About Section -->
<div class="max-w-5xl mx-auto mb-16 flex flex-col md:flex-row gap-16 px-4">
  <div class="flex-1">
    <h2 class="font-bold mb-4">
      关于本节目
    </h2>
    <p class="text-gray-600 mb-8">
      Teahour: 做程序员喜欢的大型技术类八卦节目。
    </p>
    <h2 class="font-bold mb-4">
      Teahour 社交账号
    </h2>
    <div class="flex space-x-2">
      <a class="bg-black text-white p-2 rounded" href="#">
        𝕏
      </a>
    </div>
  </div>
  <div class="w-full md:w-64">
    <h2 class="font-bold mb-4">
      Your Hosts
    </h2>
    <div class="flex space-x-4">
      <% @hosts.each do |host| %>
        <div class="text-center">
          <%= link_to host_path(host) do %>
            <img alt="<%= host.name %>" class="rounded-full mb-2" height="60" src="<%= host.avatar_url %>" width="60"/>
            <p class="text-sm text-black">
              <%= host.name %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Episodes Section -->
<div class="max-w-5xl mx-auto mb-16 px-4">
  <h2 class="font-bold mb-8">
    Episodes
  </h2>
  <div class="grid grid-cols-3 gap-8">
    <!-- Episode cards -->
    <% @episodes.each do |episode| %>
    <%= link_to episode_path(episode.slug), class: "episode-card block" do %>
      <div>
        <img alt="<%= episode.name %>" class="w-full mb-4" height="400" 
             src="<%= episode.cover_image_url.start_with?('http') ? episode.cover_image_url : asset_path(episode.cover_image_url) %>"
             width="400"/>
        <h3 class="text-black-500 hover:underline mb-2">
          #<%= episode.number %> - <%= episode.name %>
        </h3>
        <p class="text-sm text-gray-500">
          <%= format_episode_duration_and_date(episode) %>
        </p>
      </div>
    <% end %>
    <% end %>
  </div>
</div>