<div class="max-w-5xl mx-auto mb-16">
<h1 class="text-4xl font-mono font-bold text-center mb-2 tracking-tight">
    Teahour 2.0 Staging
  </h1>
  <img alt="A person in a brown suit standing against a green tiled wall with urinals" class="w-full mb-3" height="400" src="<%= asset_path("omindex.png")%>" width="1200"/>
  
  <p class="text-center text-gray-600 mb-4">
    <b>For Full Spectrum Developers</b>
  </p>
  <%= render 'shared/subscription_buttons' %>
</div>
<!-- About Section -->
<div class="max-w-5xl mx-auto mb-16 flex gap-16">
  <div class="flex-1">
    <h2 class="font-bold mb-4">
      å…³äºæœ¬èŠ‚ç›®
    </h2>
    <p class="text-gray-600 mb-8">
      Teahour: åšç¨‹åºå‘˜å–œæ¬¢çš„å¤§å‹æŠ€æœ¯ç±»å…«å¦èŠ‚ç›®ã€‚
    </p>
    <h2 class="font-bold mb-4">
      Teahour ç¤¾äº¤è´¦å·
    </h2>
    <div class="flex space-x-2">
      <a class="bg-black text-white p-2 rounded" href="#">
        ğ•
      </a>
    </div>
  </div>
  <div class="w-64">
    <h2 class="font-bold mb-4">
      Your Hosts
    </h2>
    <div class="flex space-x-4">
      <% @hosts.each do |host| %>
        <div class="text-center">
          <%= link_to host_path(host) do %>
            <img alt="<%= host.name %>" class="rounded-full mb-2" height="60" src="<%= host.avatar_url %>" width="60"/>
            <p class="text-sm text-black hover:text-gray-600">
              <%= host.name %>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Episodes Section -->
<div class="max-w-5xl mx-auto mb-16">
  <h2 class="font-bold mb-8">
    Episodes
  </h2>
  <div class="grid grid-cols-3 gap-8">
    <!-- Episode cards -->
    <% @episodes.each do |episode| %>
    <%= link_to episode_path(episode.slug), class: "episode-card block" do %>
      <div>
        <img alt="<%= episode.name %>" class="w-full mb-4" height="400" 
             src="<%= episode.cover_image_url.start_with?('http') ? episode.cover_image_url : asset_path(episode.cover_image_url) %>"
             width="400"/>
        <h3 class="text-black-500 hover:underline mb-2">
          #<%= episode.number %> - <%= episode.name %>
        </h3>
        <p class="text-sm text-gray-500">
          <%= format_episode_duration_and_date(episode) %>
        </p>
      </div>
    <% end %>
    <% end %>
  </div>
</div>