<%= render layout: 'shared/page_container' do %>
  <%= render 'shared/page_header' %>
  <img alt="Teahour 2.0" class="w-full mb-3" height="400" src="<%= asset_path("omshow.png")%>" width="1200"/>
  <div class="bg-white py-12">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-4xl font-bold text-gray-700">
        <%= @episode.name %>
      </h2>
      <p class="text-gray-500 mt-2">
        Episode <%= @episode.number %> · <%= @episode.published_at.strftime("%Y-%m-%d") %> · <%= @episode.duration / 3600 %> hr <%= (@episode.duration % 3600) / 60 %> mins
      </p>
      <div class="mt-4">
        <audio class="w-full" controls="">
          <source src="<%= @episode.file_uri %>" type="audio/mpeg"/>
          Your browser does not support the audio element.
        </audio>
      </div>
      <%= render 'shared/subscription_buttons' %>
    </div>
  </div>
  
  <!-- Host and Guest Section -->
  <div class="mb-8 flex gap-12">
    <div>
      <h2 class="text-sm font-medium mb-4">
        <b>Your Hosts</b>
      </h2>
      <div class="flex gap-4">
        <% @hosts.each do |host| %>
          <%= render 'shared/person_card', person: host, path: host_path(host), size: 60, text_color: 'gray-600' %>
        <% end %>
      </div>
    </div>
    <div>
      <h2 class="text-sm font-medium mb-4">
        <b>Guests</b>
      </h2>
      <div class="flex gap-4">
        <% @guests.each do |guest| %>
          <%= render 'shared/person_card', 
                person: guest, 
                path: guest.is_a?(Host) ? host_path(guest) : guest_path(guest), 
                size: 60, 
                text_color: 'gray-600' %>
        <% end %>
      </div>
    </div>
  </div>
 
  <div class="mb-8">
    <h2 class="text-xl font-medium mb-4">
      About this Episode
    </h2>
    <p class="text-gray-600 mb-4">
      <%= @episode.summary %>
    </p>
  </div>
  <div class="mb-8">
    <h2 class="text-xl font-medium mb-4">
      Show Notes
    </h2>
    <div class="[&_ul]:list-disc [&_ul]:ml-4">
      <%= markdown(@episode.desc) %>
    </div>
  </div>
<% end %>