<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Casmitter" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- header-->
  <nav class="flex justify-between items-center p-4">
    <img alt="Teahour podcast logo" class="h-10" height="40" src="<%= asset_path("logo.png")%>" width="40"/>
   <div class="space-x-6 text-gray-600 text-sm">
    <a class="hover:text-gray-900" href="#">
     About
    </a>
    <a class="hover:text-gray-900" href="#">
     Episodes
    </a>
    <a class="hover:text-gray-900" href="#">
     Hosts
    </a>
    <a class="hover:text-gray-900" href="#">
     Contact
    </a>
    <a class="hover:text-gray-900" href="#">
     Search
    </a>
    <a class="hover:text-gray-900" href="#">
     Subscribe
    </a>
   </div>
  </nav>

  <body>
    <%= yield %>
  </body>

  <!-- Footer -->
  <footer class="bg-black text-white py-8">
    <div class="max-w-5xl mx-auto">
      <div class="flex justify-between items-center mb-4">
        <p class="text-sm">
        Teahour © 2025 by Terry Tai
        </p>
        <div class="space-x-6 text-sm">
          <a class="hover:text-gray-300" href="#">
            About
          </a>
          <a class="hover:text-gray-300" href="#">
            Episodes
          </a>
          <a class="hover:text-gray-300" href="#">
            Hosts
          </a>
          <a class="hover:text-gray-300" href="#">
            Contact
          </a>
          <a class="hover:text-gray-300" href="#">
            Search
          </a>
          <a class="hover:text-gray-300" href="#">
            Subscribe
          </a>
        </div>
      </div>
    </div>
  </footer>
</html>
